
.reset-login-page {

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: #F4F5F7;
  }
  
  .cynthia {
    position: absolute;
    left: 39.58%;
    right: 41.32%;
    top: 3.03%;
    bottom: 87.6%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    
  }
  
  .slogan {
    position: absolute;
    width: 436px;
    height: 53px;
    left: 490px;
    top: 120px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
  }
  
  .reset-box {
    position: relative;
    width: 412px;
    height: 350px;
    left: 502px;
    top: 206px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  
  .title {
    
    position: relative;
    top: 5%;
    justify-content: center;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
  }
  
  .imput-email-instance{
    position: absolute;
    width: 329px;
    height: 39px;
    left: 30px;
    top: 20px;
    
  }
  
  
  .button-large-instance-1-reset {
    position: absolute;
    width: 329px;
    height: 39px;
    left: 30px;
    top: 45%;
    
  }
  
  
  .separator-reset {
    position: absolute;
  width: 329px;
  height: 0px;
  left: 30px;
    top: 58%;

border: 0.5px solid #000000;
  }
  
  .link-signup-instance-1-reset {
    position: absolute;
    width: 329px;
    height: 24px;
    left: 30px;
    top: 70%;
  }
  .link-signup-instance-2-reset {
    position: absolute;
    width: 329px;
    height: 24px;
    left: 30px;
    top: 80%;
  }
  .button-large {
    text-align: center;
    color: #fff;
    background-color: #0000;
    border: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Inter, Arial;
    font-size: 1.286rem;
    font-weight: 500;
    line-height: 22px;
    display: flex;
  }
  
  .rectangle-2 {
    height: 100%;
    background-color: #007bff;
    border-radius: 5px;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
    display: flex;
  }
  .button-large-2 {
    color: #007bff;
    text-align: center;
    background-color: #0000;
    border: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Inter, Arial;
    font-size: 1.286rem;
    font-weight: 500;
    line-height: 22px;
    display: flex;
  }
  
  .rectangle-2-1 {
    height: 100%;
    background-color: #007bff00;
    border: 1px solid #007bff;
    border-radius: 5px;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    display: flex;
  }
  
  .new-feature {
    margin-top: 1px;
  }
  .imput-text {
    color: #9fa6ad;
    color: #9fa6ad;
    color: #9fa6ad;
    background-color: #fff0;
    border: 2px solid #ced4da;
    border-radius: 6px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Inter, Arial;
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;
    display: flex;
  }
  .link {
    color: #0052cc;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    font-family: Inter, Arial;
    font-size: 1.143rem;
    font-weight: 300;
    line-height: 19px;
    display: flex;
  }
  
  .link-1 {
    margin-top: 1px;
  }
  
  