.link {
  color: #0052cc;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  font-family: Inter, Arial;
  font-size: 1.143rem;
  font-weight: 300;
  line-height: 19px;
  display: flex;
}

.link-1 {
  margin-top: 1px;
}
